/*  #Theme Product Cards
===========================================*/
.slider {
  height: auto; }

.card-bcg {
  background-color: #f9fafa !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 0 5px 5px;
  margin: 5px 10px; }
  .card-bcg .card-header > .card-title:first-child {
    color: #757575;
    font-size: 14px !important;
    margin: 5px 10px;
    clear: both; }
  .card-bcg .card-header h2.card-title {
    color: #757575;
    font-size: 14px !important;
    clear: both;
    margin-bottom: 5px;
    padding-left: 15px;
    text-transform: uppercase; }

/*  #Content
===========================================*/
.container-background {
  background-color: white;
  background-blend-mode: luminosity;
  position: relative;
  height: 120px;
  display: table;
  width: 100%; }
  .container-background::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: #b1eaf1; }
  .container-background .half {
    display: table-cell;
    vertical-align: bottom;
    padding: 10px;
    position: relative; }
    .container-background .half .card-title {
      padding-left: 0; }
    .container-background .half .button-default {
      background-color: #26bbec !important;
      color: white !important;
      font-size: 14px;
      border-radius: 4px; }
  .container-background h2.card-title {
    color: white;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase; }
  .container-background p.card-body-text {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
    line-height: 15px; }
  .container-background .price {
    position: absolute;
    top: 10px;
    right: 10px; }
    .container-background .price.span-medium {
      color: #4ec2f6;
      font-size: 18px;
      color: white; }
