.bar.bar-stable .title,
.item h2,
.item h3,
a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.main-menu {
  background-color: transparent;
  border-color: transparent; }
  .main-menu .item-content {
    padding-left: 30px;
    background-color: #f9fafa !important;
    color: #757575; }
  .main-menu i.icon {
    font-size: 20px; }
  .main-menu span {
    font-size: 20px; }

.menu-content-background, .pane, .menu {
  background-color: #eeeeee; }

.scroll-refresher .ionic-refresher-content {
  color: #757575; }

.spinner-ios, .spinner-ios-small, .spinner {
  color: #4ec2f6;
  fill: #4ec2f6;
  stroke: #4ec2f6; }

.menu-panel span {
  color: #fde800;
  display: block;
  clear: both;
  margin-top: 10px;
  font-size: 18px; }

.menu-panel .btn {
  border: 1px solid #fde800;
  margin: 50% auto 0;
  font-size: 16px;
  color: #fde800;
  font-weight: bold; }
  .menu-panel .btn i.left {
    margin-right: 0; }

.block-table {
  width: 100%;
  height: 100%;
  display: table; }
  .block-table .button-default {
    background-color: #26bbec !important;
    color: white !important;
    font-size: 14px;
    border-radius: 4px; }
  .block-table .scroll {
    display: table-cell;
    vertical-align: middle; }
  .block-table .ionic-descript {
    color: #fde800;
    padding: 0 20px; }
    .block-table .ionic-descript h2 {
      color: #fde800;
      font-size: 24px;
      margin-bottom: 3px;
      margin-top: 0; }
    .block-table .ionic-descript p {
      margin-top: 10px;
      margin-bottom: 30px; }
  .block-table .ionic-documentation {
    margin-top: 30%;
    display: block;
    text-decoration: underline;
    color: #fff;
    padding: 0 20px; }

.container-background, .container-background-full, .container-hearder-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.left-menu-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-blend-mode: luminosity;
  background-image: url("../img/background/29.jpg");
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2); }
  .left-menu-background::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: #b1eaf1; }

.spinner-view .spinner img {
  width: 100px;
  height: 100px;
  margin: 50% auto 0;
  display: block; }

.spinner-view .scroll {
  height: 100%; }

.spinner-view .slider {
  height: 100%; }

.spinner-view .slider-pager .ion-record:before {
  color: #26bbec; }

.bar-subheader,
.has-header,
.platform-ios .bar-subheader {
  top: 56px !important; }

.list {
  padding-top: 0; }

.bar.bar-stable {
  background-color: #26bbec !important;
  height: 56px;
  padding: 10px 0;
  border-bottom: 1px solid #26bbec;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .bar.bar-stable .title {
    color: white;
    line-height: 55px;
    font-size: 20px;
    left: 40px !important;
    text-align: left; }
  .bar.bar-stable .ion-navicon, .bar.bar-stable .back-button {
    padding: 0 10px;
    color: white; }
  .bar.bar-stable .buy-now {
    color: white;
    padding: 0 10px;
    box-shadow: none;
    border: 1px solid white;
    margin-top: 5px;
    font-weight: normal; }

.back-text {
  display: none !important; }

#toast-container {
  text-align: center; }

.custom-toast {
  width: auto;
  display: inline-block;
  margin-bottom: 0.8em;
  word-break: break-all; }

.shape-img-block {
  width: 50%;
  float: left;
  display: block;
  text-align: center;
  margin-top: 20px; }
  .shape-img-block img {
    max-width: 100px; }

.platform-ios .has-header, .platform-ios .bar-subheader {
  top: 64px !important; }

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 10px; }
